
.navbar-menu ul{
    display: flex;
    list-style: none;
    /* margin: 0px 0 8px 0; */
}

.navbar-menu ul li{
    margin: 0 8px;
}

img{
    border-radius: 50%;
    width: 150px;
}

table, th, td {
  border: 1px solid rgb(36, 36, 36);
  border-collapse: collapse;
}

.form-content{
    border: 1px solid black;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
}

.form-content input{
    display: block;
}

.form-content input[type="text"], input[type="email"], select{
    width: 300px;
    margin-bottom: 10px;
}

.form-content .btn{
    display: flex;
    /* margin-left: 2px; */
}

.btn input{
    margin-right: 5px;
}
